{% load static %}

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flolb41-Dev41 | Portfolio</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'portfolio/style.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/global.css' %}"
    />
  </head>
  <body>
    <div id="header">
      <div id="titre_accueil">
        <h1>Le Blanc Florian</h1>
        <h2>Flolb41-Dev41</h2>
      </div>
      <nav>
        <a href="{% url 'main:index' %}">Accueil</a>
        <a href="{% url 'technologies:index' %}">Les technologies</a>
        <a href="{% url 'portfolio:index' %}">Portfolio</a>
        <a href="{% url 'about:index' %}">Qui suis-je ?</a>
        <a href="{% url 'contact:index' %}">Contact</a>
      </nav>
    </div>
    <section class="portfolio">
      {% for i in portfolio %}
      <div class="card">
        <div class="image_card">
          <img class="image" src="/{{i.image}}" alt="{{i.nom}}" />
        </div>
        <div class="body-card">
          <span class="nom_creation">{{i}}</span>
          <p class="desc">{{i.description}}</p>
          <a class="lien-creation" href="{{i.lien}}">{{i.lien}}</a>
        </div>
        <div class="divider"></div>
      </div>
      {% endfor %}
      <div class="footer-message">
        Pour toute question, je reste à votre disposition. Que ce soit un
        conseil, un projet je réponds a toutes les questions.<br/> Même si cela
        dépasse mes compétences ou ma structure, je vous aiguillerai avec
        pertinence suivant vos besoins.
      </div>
    </section>
  </body>
</html>
