{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'portfolio/style.css' %}" />

    <section class="portfolio">
      {% for i in portfolio %}
      <div class="card">
        <div class="image_card">
          <img class="image" src="/{{i.image}}" alt="{{i.nom}}" />
        </div>
        <div class="body-card">
          <span class="nom_creation">{{i}}</span>
          <p class="desc">{{i.description}}</p>
          <a class="lien-creation" href="{{i.lien}}">{{i.lien}}</a>
        </div>
        <div class="divider"></div>
      </div>
      {% endfor %}
      <div class="footer-message">
        Pour toute question, je reste à votre disposition. Que ce soit un
        conseil, un projet je réponds a toutes les questions.<br/> Même si cela
        dépasse mes compétences ou ma structure, je vous aiguillerai avec
        pertinence suivant vos besoins.
      </div>
    </section>

{% endblock %}