{% extends 'base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'technologies/style.css' %}" />
<section class="technos">
  {% for i in technologies %}
  <div class="card">
    <div class="header_card">
      <img class="logo" src="/{{i.logo}}" alt="{{i.nom}}" />
      <div class="badge_tech">
        <h3 class="nom_techno">{{i}}</h3>
        {% if i.frontend %}
        <div class="badge_front">Front-End</div>
        {% endif %} {% if i.backend %}
        <div class="badge_back">Back-End</div>
        {% endif %}
      </div>
    </div>
    <p class="desc">{{i.description}}</p>
    <div class="divider"></div>
  </div>
  {% endfor %}
</section>

{% endblock %}
