{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'about/style.css' %}" />

    <section>
      <div class="img">
        <img
          id="ph_flo"
          src="{% static 'about/images/photo_me.png' %}"
          alt="photo de Florian Le Blanc"
        />
      </div>
      <div class="about_me">
        <div class="about_enfance">
          <h3>Enfance</h3>
          <p>
            Alors que je n’ai que 6 ans, mes parents sautent le pas et
            découvrent l’informatique en 1990. Ils acquièrent notre premier pc
            familial. Un Amstrad PC3086. Je ferai mes premières armes dessus,
            devenant très vite « accro ». Je passerai ainsi plusieurs années de
            ma jeunesse à découvrir, l’overclocking, le watercooling entre
            autres… dans une chambre transformée en atelier de geek.
          </p>
        </div>
        <div class="start_active_life">
          <h3>Début de vie active</h3>
          <p>
            Après une scolarité ou mes profs disent toujours « Pourrait tutoyer
            les sommets si il s’en donnait la peine ! », je parviens jusqu’au
            bac. Après avoir choisi STI électronique, et avoir obtenu le diplôme
            en 2003, j’intègre l’école de Maistrance à Brest. Ecole de
            sous-officier de la Marine Nationale. Où je me rends vite compte que
            je manque d’air… J’enchaine ensuite les petits boulots, qui, avec le
            recul auront été une bonne « école ».
          </p>
        </div>
        <div class="first_jobs">
          <h3>Première carrière</h3>
          <p>
            En 2007, j’entre dans le transport de fond complètement par hasard.
            Suite à une annonce ANPE (et oui, à l’époque Pole Emploi n’existe
            pas encore…) Je me fais un petit nom dans le milieu. Je travaille
            même à tour de rôle pour les deux plus gros concurrents. J’apprécie
            le métier ! Et finalement, au bout de 13 ans, une maladie
            professionnelle me touche et mets fin à cette aventure.
          </p>
        </div>
        <div class="reconversion">
          <h3>Reconversion vers une passion</h3>
          <p>
            En arrêt depuis Aout 2019, je sais que mon avenir de plus en plus
            sombre dans ce métier. J’en profite pour faire le point moi-même.
            Très vite, je me rends compte que ce licenciement sera un mal pour
            un bien. Lors d’une discussion avec mon père, il me fait part d’un
            reportage qu’il a vu sur les métiers qui recrutent. C’est lui qui me
            mets la puce à l’oreille. J’en profite donc pour mettre tout ce
            temps en arrêt de travail pour apprendre et me former. Je suis
            officiellement licencié en avril 2020. J’ai déjà quelques notions de
            code, je décide d’officialiser mes connaissances avec une formation
            reconnue bac + 2 chez OpenClassrooms. Formation que je valide fin
            mars 2021.
          </p>
        </div>
      </div>
    </section>
{% endblock %}
